In [183]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json

In [184]:
# Load all files

with open('list_num_cols.txt', 'r') as file_1:
  list_num_cols = json.load(file_1)

with open('list_cat_cols_1.txt', 'r') as file_2:
  list_cat_cols_1 = json.load(file_2)
  
with open('list_cat_cols_2.txt', 'r') as file_3:
  list_cat_cols_2 = json.load(file_3)
  
with open('list_cat_cols_3.txt', 'r') as file_4:
  list_cat_cols_3 = json.load(file_4)

with open('model_scaler.pkl', 'rb') as file_5:
  scaler = pickle.load(file_5)

with open('model_encoder_1.pkl', 'rb') as file_6:
  OHE_1 = pickle.load(file_6)
  
with open('model_encoder_2.pkl', 'rb') as file_7:
  OHE_2 = pickle.load(file_7)
  
with open('model_encoder_3.pkl', 'rb') as file_8:
  OHE_3 = pickle.load(file_8)

with open('model_logreg.pkl', 'rb') as file_9:
  model_logreg = pickle.load(file_9)
  
with open('model_dtc.pkl', 'rb') as file_10:
  model_dtc = pickle.load(file_10)

with open('model_rfc.pkl', 'rb') as file_11:
  model_rfc = pickle.load(file_11)
  
with open('model_gbc.pkl', 'rb') as file_12:
  model_gbc = pickle.load(file_12)

In [185]:
#Create new data

data_inf = pd.DataFrame({
    'cc_num'      : [30344654314976],
    'merchant'    : ['fraud_Larkin, Stracke and Greenfelder'],
    'category'    : ['entertainment'],
    'amt'         : [46],
    'first'       : ['Theo'],
    'last'        : ['Nugraha'],
    'gender'      : ['M'],
    'street'      : ['Temanggung'],
    'city'        : ['Temanggung'],
    'state'       : ['ID'],
    'zip'         : [56225],
    'city_pop'    : [1725],
    'job'         : ['Programmer'],
    'dob'         : ['1991-09-09']
})

#data_inf = pd.DataFrame([data_inf])
data_inf

,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,city_pop,job,dob
0,30344654314976,"fraud_Larkin, Stracke and Greenfelder",entertainment,46,Theo,Nugraha,M,Temanggung,Temanggung,ID,56225,1725,Programmer,1991-09-09

In [186]:
# Split between numerical columns and categorical columns

data_inf_num   = data_inf[list_num_cols]
data_inf_cat_1 = data_inf[list_cat_cols_1]
data_inf_cat_2 = data_inf[list_cat_cols_2]
data_inf_cat_3 = data_inf[list_cat_cols_3]

In [187]:
# Feature scaling and feature encoding

data_inf_num_scaled    = scaler.transform(data_inf_num)
data_inf_cat_encoded_1 = OHE_1.transform(data_inf_cat_1)
data_inf_cat_encoded_2 = OHE_2.transform(data_inf_cat_2)
data_inf_cat_encoded_3 = OHE_3.transform(data_inf_cat_3)

data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded_1, data_inf_cat_encoded_2, data_inf_cat_encoded_3], axis = 1)

In [188]:
# Predict using Logistic Regression, 

y_pred_inf_logreg = pd.DataFrame(model_logreg.predict(data_inf_final))
y_pred_inf_logreg

   0
0  1

In [189]:
# Predict using Decision Tree Classifier, 

y_pred_inf_dtc = pd.DataFrame(model_dtc.predict(data_inf_final))
y_pred_inf_dtc

   0
0  1

In [190]:
# Predict using Random Forest Classifier, 

y_pred_inf_rfc = pd.DataFrame(model_rfc.predict(data_inf_final))
y_pred_inf_rfc

   0
0  1

In [191]:
# Predict using GradientBoosting Classifier, 

y_pred_inf_gbc = pd.DataFrame(model_gbc.predict(data_inf_final))
y_pred_inf_gbc

   0
0  0